---
import Layout from "../layouts/Layout.astro";
import { getBlogs } from '../library/microcms'

const response = await getBlogs({
  limit: 4
});

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout title="">
  <section class="p-mv">
    <div class="l-inner">
      <div class="p-mv__content">
        <div class="p-mv__main">
          <hgroup class="p-mv__title-wrap">
            <p class="p-mv__title-sub">
              麻布十番<span class="tag"
                ><span class="small">1.2km</span>圏内限定</span>
            </p>
            <h1 class="p-mv__title-main">
              直接会って相談できる<br />デザイン制作サービス
            </h1>
          </hgroup>
          <div class="p-mv__main-img">
            <img
              src="/assets/img/top/mv_img01.png"
              alt=""
              width="488"
              height="236"
            />
          </div>
        </div>
        <div class="p-mv__approach">
          <figure class="p-mv__approach-img">
            <picture>
              <source
                media="(min-width: 768px)"
                srcset="/assets/img/top/mv_img02.png"
                width="622"
                height="392"
              />
              <source
                media="(max-width: 767px)"
                srcset="/assets/img/top/mv_img02-sp.png"
                width="397"
                height="251"
              />
              <img
                src="/assets/img/top/mv_img02.png"
                alt="こんなお悩みありませんか？「そもそもどうやって発注したらいいのか..」「デジタルに弱いので何から相談していいかわからない」「とりあえず一度話を聞いてほしい」「Webサイトが必要か分からない」「デザインを何とかしなきゃと思いつつ数年経ってしまった」「オンライン中心のコミュニケーションに不安がある。」"
                width="622"
                height="392"
              />
            </picture>
          </figure>
          <a href="/contact/" class="p-mv__btn">無料相談してみる</a>
        </div>
      </div>
    </div>
    <div class="p-mv__gallery">
      <div class="c-gallery">
        <ul class="c-gallery__list">
          <li class="c-gallery__item">
            <img
              class="c-gallery__image"
              src="/assets/img/top/gallery_img01.png"
              alt=""
              width="274"
              height="197"
              decoding="async"
              loading="lazy"
            />
          </li>
          <li class="c-gallery__item">
            <img
              class="c-gallery__image"
              src="/assets/img/top/gallery_img02.png"
              alt=""
              width="274"
              height="197"
              decoding="async"
              loading="lazy"
            />
          </li>
          <li class="c-gallery__item">
            <img
              class="c-gallery__image"
              src="/assets/img/top/gallery_img03.png"
              alt=""
              width="274"
              height="197"
              decoding="async"
              loading="lazy"
            />
          </li>
          <li class="c-gallery__item">
            <img
              class="c-gallery__image"
              src="/assets/img/top/gallery_img04.png"
              alt=""
              width="274"
              height="197"
              decoding="async"
              loading="lazy"
            />
          </li>
          <li class="c-gallery__item">
            <img
              class="c-gallery__image"
              src="/assets/img/top/gallery_img05.png"
              alt=""
              width="274"
              height="197"
              decoding="async"
              loading="lazy"
            />
          </li>
          <li class="c-gallery__item">
            <img
              class="c-gallery__image"
              src="/assets/img/top/gallery_img06.png"
              alt=""
              width="274"
              height="197"
              decoding="async"
              loading="lazy"
            />
          </li>
          <li class="c-gallery__item">
            <img
              class="c-gallery__image"
              src="/assets/img/top/gallery_img07.png"
              alt=""
              width="274"
              height="197"
              decoding="async"
              loading="lazy"
            />
          </li>
          <li class="c-gallery__item">
            <img
              class="c-gallery__image"
              src="/assets/img/top/gallery_img08.png"
              alt=""
              width="274"
              height="197"
              decoding="async"
              loading="lazy"
            />
          </li>
          <li class="c-gallery__item">
            <img
              class="c-gallery__image"
              src="/assets/img/top/gallery_img09.png"
              alt=""
              width="274"
              height="197"
              decoding="async"
              loading="lazy"
            />
          </li>
          <li class="c-gallery__item">
            <img
              class="c-gallery__image"
              src="/assets/img/top/gallery_img10.png"
              alt=""
              width="274"
              height="197"
              decoding="async"
              loading="lazy"
            />
          </li>
          <li class="c-gallery__item">
            <img
              class="c-gallery__image"
              src="/assets/img/top/gallery_img11.png"
              alt=""
              width="274"
              height="197"
              decoding="async"
              loading="lazy"
            />
          </li>
          <li class="c-gallery__item">
            <img
              class="c-gallery__image"
              src="/assets/img/top/gallery_img12.png"
              alt=""
              width="274"
              height="197"
              decoding="async"
              loading="lazy"
            />
          </li>
        </ul>
        <ul class="c-gallery__list">
          <li class="c-gallery__item">
            <img
              class="c-gallery__image"
              src="/assets/img/top/gallery_img01.png"
              alt=""
              width="274"
              height="197"
              decoding="async"
              loading="lazy"
            />
          </li>
          <li class="c-gallery__item">
            <img
              class="c-gallery__image"
              src="/assets/img/top/gallery_img02.png"
              alt=""
              width="274"
              height="197"
              decoding="async"
              loading="lazy"
            />
          </li>
          <li class="c-gallery__item">
            <img
              class="c-gallery__image"
              src="/assets/img/top/gallery_img03.png"
              alt=""
              width="274"
              height="197"
              decoding="async"
              loading="lazy"
            />
          </li>
          <li class="c-gallery__item">
            <img
              class="c-gallery__image"
              src="/assets/img/top/gallery_img04.png"
              alt=""
              width="274"
              height="197"
              decoding="async"
              loading="lazy"
            />
          </li>
          <li class="c-gallery__item">
            <img
              class="c-gallery__image"
              src="/assets/img/top/gallery_img05.png"
              alt=""
              width="274"
              height="197"
              decoding="async"
              loading="lazy"
            />
          </li>
          <li class="c-gallery__item">
            <img
              class="c-gallery__image"
              src="/assets/img/top/gallery_img06.png"
              alt=""
              width="274"
              height="197"
              decoding="async"
              loading="lazy"
            />
          </li>
          <li class="c-gallery__item">
            <img
              class="c-gallery__image"
              src="/assets/img/top/gallery_img07.png"
              alt=""
              width="274"
              height="197"
              decoding="async"
              loading="lazy"
            />
          </li>
          <li class="c-gallery__item">
            <img
              class="c-gallery__image"
              src="/assets/img/top/gallery_img08.png"
              alt=""
              width="274"
              height="197"
              decoding="async"
              loading="lazy"
            />
          </li>
          <li class="c-gallery__item">
            <img
              class="c-gallery__image"
              src="/assets/img/top/gallery_img09.png"
              alt=""
              width="274"
              height="197"
              decoding="async"
              loading="lazy"
            />
          </li>
          <li class="c-gallery__item">
            <img
              class="c-gallery__image"
              src="/assets/img/top/gallery_img10.png"
              alt=""
              width="274"
              height="197"
              decoding="async"
              loading="lazy"
            />
          </li>
          <li class="c-gallery__item">
            <img
              class="c-gallery__image"
              src="/assets/img/top/gallery_img11.png"
              alt=""
              width="274"
              height="197"
              decoding="async"
              loading="lazy"
            />
          </li>
          <li class="c-gallery__item">
            <img
              class="c-gallery__image"
              src="/assets/img/top/gallery_img12.png"
              alt=""
              width="274"
              height="197"
              decoding="async"
              loading="lazy"
            />
          </li>
        </ul>
      </div>
    </div>
  </section>

  <section class="p-top-service">
    <div class="l-inner">
      <div class="c-service">
        <div class="c-service__text-area">
          <hgroup class="c-service__head">
            <p class="c-service__sub-title">サービスを始めたきっかけ</p>
            <h2 class="c-service__title">対面だからこそ伝わる価値を届けたい</h2>
          </hgroup>
          <div class="c-service__text-wrap">
            <p class="c-service__text">
              近年、デザインやWeb制作はオンラインで完結するのが一般的ですが、オンラインだけではお客様の想いや細かなニュアンスを十分に汲み取れないと感じていました。
            </p>
            <p class="c-service__text">
              そこで私たちは、「顔を合わせて直接相談しながら進めることで、より良いものを生み出す」という考えに基づき、麻布十番から1.2km圏内（徒歩15分圏内）にサービス範囲を限定しました。
            </p>
            <p class="c-service__text">
              このエリアなら、じっくり話し合いながら理想を形にする環境を実現できます。オンライン全盛の時代に、対面ならではの価値をお届けする。それが、このサービスを始めた理由です。
            </p>
          </div>
        </div>
        <figure class="c-service__img">
          <img
            src="/assets/img/top/service_map-img.png"
            alt="株式会社ENVY DESIGN1.2km圏内エリアマップ"
            width="546"
            height="546"
            loading="lazy"
          />
        </figure>
      </div>
      <section class="p-top-service__content">
        <h2 class="c-primary-title">Service</h2>
        <ul class="l-grid l-grid--col4">
          <li class="c-card">
            <div class="c-card__img">
              <img
                src="/assets/img/top/service_icon01.png"
                alt=""
                width="263"
                height="178"
                loading="lazy"
              />
            </div>
            <div class="c-card__body">
              <h3 class="c-card__title">Webサイト制作</h3>
              <p class="c-card__text">
                伝えたい想いや情報を、わかりやすく・魅力的に伝えるWebサイトを制作します。
              </p>
            </div>
          </li>
          <li class="c-card">
            <div class="c-card__img">
              <img
                src="/assets/img/top/service_icon02.png"
                alt=""
                width="263"
                height="178"
                loading="lazy"
              />
            </div>
            <div class="c-card__body">
              <h3 class="c-card__title">
                グラフィック<br class="u-onliy-sp" />デザイン
              </h3>
              <p class="c-card__text">
                ブランドや商品の魅力が伝わる、視覚的に印象に残るデザインをご提案します。
              </p>
            </div>
          </li>
          <li class="c-card">
            <div class="c-card__img">
              <img
                src="/assets/img/top/service_icon03.png"
                alt=""
                width="263"
                height="178"
                loading="lazy"
              />
            </div>
            <div class="c-card__body">
              <h3 class="c-card__title">ブランディング</h3>
              <p class="c-card__text">
                企業や商品の個性を丁寧に掘り起こし、ブランドの“らしさ”をカタチにします。
              </p>
            </div>
          </li>
          <li class="c-card">
            <div class="c-card__img">
              <img
                src="/assets/img/top/service_icon04.png"
                alt=""
                width="263"
                height="178"
                loading="lazy"
              />
            </div>
            <div class="c-card__body">
              <h3 class="c-card__title">
                Webサイト<br class="u-onliy-sp" />保守・運用
              </h3>
              <p class="c-card__text">
                Webサイトを安全に、そして常に最適な状態で運用し続けるためのサポートを行います。
              </p>
            </div>
          </li>
        </ul>
        <div class="u-btn-wrap">
          <a href="/service/" class="c-btn">サービス一覧を見る</a>
        </div>
      </section>
      </div>
    </section>

    <section class="p-top-works">
      <div class="l-inner">
        <div class="p-top-works__head">
          <h2 class="c-primary-title">Works</h2>
          <a href="" class="p-top-works__link">実例一覧</a>
        </div>
        <div class="p-top-works__slider">
          <section
            class="splide"
            aria-label="株式会社ENVY DESIGNの実績スライダー"
          >
            <div class="splide__track">
              <ul class="splide__list">
                <li class="splide__slide c-works">
                  <figure class="c-works__img">
                    <img src="/assets/img/top/works_img01.png" alt="" width="470" height="337" loading="lazy">
                  </figure>
                  <div class="c-works__body">
                    <ul class="c-works__tag-wrap">
                      <li class="c-works__tag">ECサイト</li>
                      <li class="c-works__tag">LP / バナー</li>
                      <li class="c-works__tag">サイト運用・保守</li>
                    </ul>
                    <p class="c-works__name">BRILLIAGE</p>
                  </div>
                </li>
                <li class="splide__slide c-works">
                  <figure class="c-works__img">
                    <img src="/assets/img/top/works_img02.png" alt="" width="470" height="337" loading="lazy">
                  </figure>
                  <div class="c-works__body">
                    <ul class="c-works__tag-wrap">
                      <li class="c-works__tag">LP / バナー</li>
                      <li class="c-works__tag">サイト運用・保守</li>
                    </ul>
                    <p class="c-works__name">ENVY DESIGN</p>
                  </div>
                </li>
                <li class="splide__slide c-works">
                  <figure class="c-works__img">
                    <img src="/assets/img/top/works_img03.png" alt="" width="470" height="337" loading="lazy">
                  </figure>
                  <div class="c-works__body">
                    <ul class="c-works__tag-wrap">
                      <li class="c-works__tag">LP / バナー</li>
                      <li class="c-works__tag">サイト運用・保守</li>
                    </ul>
                    <p class="c-works__name">Shimizu Industry</p>
                  </div>
                </li>
                <li class="splide__slide c-works">
                  <figure class="c-works__img">
                    <img src="/assets/img/top/works_img04.png" alt="" width="470" height="337" loading="lazy">
                  </figure>
                  <div class="c-works__body">
                    <ul class="c-works__tag-wrap">
                      <li class="c-works__tag">ECサイト</li>
                      <li class="c-works__tag">LP / バナー</li>
                      <li class="c-works__tag">サイト運用・保守</li>
                    </ul>
                    <p class="c-works__name">なかほり眼科クリニック</p>
                  </div>
                </li>
                <li class="splide__slide c-works">
                  <figure class="c-works__img">
                    <img src="/assets/img/top/works_img05.png" alt="" width="470" height="337" loading="lazy">
                  </figure>
                  <div class="c-works__body">
                    <ul class="c-works__tag-wrap">
                      <li class="c-works__tag">ECサイト</li>
                      <li class="c-works__tag">LP / バナー</li>
                      <li class="c-works__tag">サイト運用・保守</li>
                    </ul>
                    <p class="c-works__name">朝明商事</p>
                  </div>
                </li>
                <li class="splide__slide c-works">
                  <figure class="c-works__img">
                    <img src="/assets/img/top/works_img06.png" alt="" width="470" height="337" loading="lazy">
                  </figure>
                  <div class="c-works__body">
                    <ul class="c-works__tag-wrap">
                      <li class="c-works__tag">ECサイト</li>
                      <li class="c-works__tag">LP / バナー</li>
                      <li class="c-works__tag">サイト運用・保守6</li>
                    </ul>
                    <p class="c-works__name">the R nail company</p>
                  </div>
                </li>
                <li class="splide__slide c-works">
                  <figure class="c-works__img">
                    <img src="/assets/img/top/works_img08.png" alt="" width="470" height="337" loading="lazy">
                  </figure>
                  <div class="c-works__body">
                    <ul class="c-works__tag-wrap">
                      <li class="c-works__tag">ECサイト</li>
                      <li class="c-works__tag">LP / バナー</li>
                      <li class="c-works__tag">サイト運用・保守7</li>
                    </ul>
                    <p class="c-works__name">文化財保存計画協会</p>
                  </div>
                </li>
                <li class="splide__slide c-works">
                  <figure class="c-works__img">
                    <img src="/assets/img/top/works_img07.png" alt="" width="470" height="337" loading="lazy">
                  </figure>
                  <div class="c-works__body">
                    <ul class="c-works__tag-wrap">
                      <li class="c-works__tag">ECサイト</li>
                      <li class="c-works__tag">LP / バナー</li>
                      <li class="c-works__tag">サイト運用・保守7</li>
                    </ul>
                    <p class="c-works__name">中野区立広町みらい公園</p>
                  </div>
                </li>
                <li class="splide__slide c-works">
                  <figure class="c-works__img">
                    <img src="/assets/img/top/works_img09.png" alt="" width="470" height="337" loading="lazy">
                  </figure>
                  <div class="c-works__body">
                    <ul class="c-works__tag-wrap">
                      <li class="c-works__tag">ECサイト</li>
                      <li class="c-works__tag">LP / バナー</li>
                      <li class="c-works__tag">サイト運用・保守7</li>
                    </ul>
                    <p class="c-works__name">さくらプロジェクト</p>
                  </div>
                </li>
              </ul>
            </div>
          </section>
        </div>
      </div>
    </section>

    <!-- <section class="p-top-blog">
      <div class="l-inner">
        <h2 class="c-primary-title">Blog</h2>
        <ul class="l-grid l-grid--col2">

          {response.contents.map(content => (
            <li class="">
              <a href={`/blog/${content.id}`} class="c-media">
              <div class="c-media__body">
                <span class="c-media__date">
                  <time class="c-card__date" datetime={new Date(content.publishedAt).toISOString().split('T')[0]}>
                  {(() => {
                        const d = new Date(content.publishedAt);
                        const yyyy = d.getFullYear();
                        const mm = String(d.getMonth() + 1).padStart(2, '0');
                        const dd = String(d.getDate()).padStart(2, '0');
                        return `${yyyy}.${mm}.${dd}`;
                      })()}
                  </time>
                </span>
                <p class="c-media__title">{content.title}</p>
                {content.category && content.category.length > 0 && (
                  <ul class="c-media__tag-wrap">
                    {content.category.map((cat) => (
                      <li class="c-media__tag">{cat["cate-name"]}</li>
                    ))}
                  </ul>
                )}
              </div>
              <div class="c-media__img-wrap">
              {content.thumbnail?.url && (
                <figure class="c-media__img">
                  <img 
                    src={content.thumbnail.url} 
                    alt={content.title} 
                    width={150} 
                    height={100} 
                  />
                </figure>
              )}
              </div>

      
              </a>
            </li>
          ))}
        </ul>
        <div class="u-btn-wrap">
          <a href="" class="c-btn">ブログ一覧を見る</a>
        </div>
      </div>
    </section> -->

  </section>
</Layout>